<html>

<head>
    <link rel="stylesheet" href="/public/main.css" />
    <title>@Model["Title"]</title>
</head>

<body class="container">
    @RenderBody()
    <footer class="center">Generated on: @System.DateTime.Now.ToString()</footer>
</body>

</html>