<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>@Model["Title"]</title>
</head>

<body class="avenir w-80">
    @RenderBody()
    <footer class="center">Generated on: @System.DateTime.Now.ToString()</footer>
</body>

</html>