---
Title: NewBrew Home
---

<div class="border-pink-400 border-2 bg-white p-4 font-mono">
    <div class="text-center text-md text-neutral-600">
        Who doesn't like shiny things?
    </div>
    <div class="text-neutral-900">
        This site provides feeds for Homebrew taps to discover recently added formula and casks. The supported taps are
        listed below, you may add them to your Atom feed reader of choice to get regular updates when new formulae and
        casks are added.
    </div>
</div>