---
Title: NewBrew Home
---

<div class="border-yellow-400 border-2 bg-white grid gap-2">
    <div class="text-center text-md text-neutral-600 bg-yellow-100 p-2 font-bold border-b-2 border-yellow-400">
        ✨ Do you like shiny stuff? ✨
    </div>
    <div class="grid gap-2 p-2">
        <p>
            This site provides feeds for <a href="https://brew.sh" target="_blank">Homebrew</a> taps to discover
            recently added formulae and casks.</p>
        <p>The supported taps are listed below, you may add them to the Atom feed reader of you choice to get regular
            updates when new formulae and casks are added.</p>
    </div>
</div>

<div class="border-pink-400 border-2 bg-white grid gap-2">
    <div class="text-center text-md text-neutral-600 bg-pink-200 p-2 font-bold border-b-2 border-pink-400">
        🍺 Supported Taps 🍺
    </div>
    <div class="grid gap-2 p-2">
        The following taps are monitored and updated:
        <ul class="m-x-4">
            <li>
                <a href="/feeds/homebrew/core/atom.xml">homebrew/core</a>
            </li>
        </ul>
    </div>
</div>

<div class="border-cyan-400 border-2 bg-white grid gap-2">
    <div class="text-center text-md text-neutral-600 bg-cyan-200 p-2 font-bold border-b-2 border-cyan-400">
        🧐 About
    </div>
    <div class="grid gap-2 p-2">
        <p>
            Hi, I'm <a href="https://andrewtheken.com" target="_blank">Andrew</a>. I'm an avid CLI user and software
            engineer. I enjoy learning about new tools to improve my craft. But, I didn't want another inbox to
            monitor. Email, Slack, SMS, and RSS are enough, thank you 🫠. That's why I built this micro site. Just a few
            Atom feeds of new formulae as they are added to homebrew. No need to watch more repos or add more
            notifications.
        </p>
        <p>The site is open source, and the code is kinda gross, but if you'd like me to add another tap to monitor, or
            otherwise
            provided feedback, please feel free to head over to the <a href="https://github.com/atheken/newbrew"
                target="_blank">repo on GitHub</a> and let me know.</p>
        <p>If you find this site useful, please share it with your friends, or say hello on social media (<a
                href="https://x.com/atheken">X/Twitter</a>, <a href="https://hachyderm.io/&#64;atheken">Mastodon</a>, or
            <a href="mailto:andrew+newbrew@attr.io">Email</a>).
        </p>
    </div>
</div>